 /* font-family: 'Open Sans', sans-serif;
 font-family: 'Roboto', sans-serif;
 font-family: 'Roboto Slab', serif; */
* {
    margin:0;
    padding:0;
}
body{
    background-color: rgb(195, 207, 217);
}
 /* header */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content:end;
}
.menu_burger{
    display: none;
}
.fondo{
    background-repeat: no-repeat;
    background-size: cover ;
    position: absolute ;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;    
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav{
    list-style: none;
    margin: 30px;
    background-color: rgb(75, 92, 107) ;
    padding: 10px;
    border-radius: 15px;
}
.nav a{
    text-decoration: none;
    color: white ;
    margin-left: 10px;
    padding: 25px;
}
.nav a:hover{
    color: rgb(231, 120, 80);
    background-color: rgb(63, 77, 88);
    padding: 14px 25px;
    border-radius: 15px;
    margin-left: 10px;
}
/* main */

p::selection{
    background-color: rgb(75, 92, 107) ;
    color: rgb(0, 0, 0);
}
h1::selection{
    background-color: rgb(75, 92, 107) ;
    color: rgb(0, 0, 0);
}
h2::selection{
    background-color: rgb(75, 92, 107) ;
    color: rgb(0, 0, 0);
}
h3::selection{
    background-color: rgb(75, 92, 107) ;
    color: rgb(0, 0, 0);
}
.index{
    margin-top: 950px;
}
.titulo_main_principal{
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo_main{
    text-align: center;
    margin: 50px;
    font-family: sans-serif;
    font-size: 43px;
}
.img_main{
    width: 100px;
}
.parrafo_main{
    width: 900px;
    text-align: center;
    margin: 20px auto;
    font-size: 18px;
}
.iframe01{
    display: flex;
    justify-content: center;
    margin: 20px;
    
}
.punto{
    width: 900px;
    text-align: center;
    margin: 20px auto;
    font-family: 'Roboto Slab', serif;
}
.h2{
    margin-top: 100px;
    font-size: 30px;
}
.punto p{
    width: 900px;
    text-align: center;
    margin: 20px auto;
}
main section p{
    text-align: center;
    font-family:'Roboto Slab', serif;
    font-size: 17px;
}
.padre{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    flex-wrap: wrap;
}
h3{
    text-align: center;
    margin: 20px auto;
    font-family:'Roboto Slab', serif;
    font-size: 22px;
}
.gif{
    width: 450px;
}
main section div video{
    border-radius: 20px;
}
section h2{
    text-align: center;
    font-family: 'Open Sans' sans-serif;
}
/* footer */

.footer{
    background-color: rgb(213, 231, 247);
    text-align: center;
    height: 180px;
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "ul"
    "copy"
    "ul_footer";
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 120px;
}
.ul{
    grid-area: ul;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}
.copy{
    margin-top: 20px;
    grid-area: copy;
    align-items: center;
    justify-content: center;
   
}
.ul_footer{
    grid-area: ul_footer;
    margin-top: 20px;
}
.footer a{
    text-decoration: none;
    color: rgb(0, 0, 0) ;
    padding: 15px;
}
.footer a:hover{
    color: rgb(231, 120, 80);
    background-color: rgb(63, 77, 88);
    padding: 15px;
    border-radius: 15px;
}
/* nav buerger */
.container-fluid{
    background: rgb(255,192,0);
    background: radial-gradient(circle, rgba(255,192,0,1) 59%, rgba(255,173,0,1) 82%);
}
.navbar{
    background: rgb(255,192,0);
    background: radial-gradient(circle, rgba(255,192,0,1) 59%, rgba(255,173,0,1) 82%);
}

@media(max-width:576px){
    body{
        width: 390px;
    }
    .menu_burger{
        display: inline;
    }
    .nav-item:hover{
        background: rgb(255,192,0);
        background: radial-gradient(circle, rgba(255,192,0,1) 59%, rgba(255,173,0,1) 82%);
        border-radius: 10px;
        color: coral;
        padding-left: 40px;
        padding-right: 40px;
    }
    .nav-link.active:hover{
        color: rgb(255, 68, 0);
    }
    .nav-link:hover{
        color: rgb(255, 68, 0);
    }
    .header{
        display: none;
    }
    .fondo{
        display: none;
    }
    .index{
        margin-top: 0;
    }
    .fondo_media{
        width: 100%;
        height: calc(100vh - 56.18px);
        background-repeat: no-repeat;
        background-image: url(../imagenes/imgtitulo.jpg);
        background-position: center;
    }
    .titulo_main{
        font-size: 32px;
        margin-left: 35px;
    }
    .img_main{
        display: none;
    }
    .parrafo_main{
        width: 350px;
        font-size: 16px;
        margin-left: 12px;
    }
    .iframe01{
        margin: 0 auto;
        width: 40%;
    }
    .padre{
        padding: 0;
    }
    .punto h2{
        width: 350px;
        text-align: center;
        margin-left: 10px;
        font-size: 30px;
    }
    .punto p{
        width: 350px;
        margin: 0px;
        margin-left: 12px;
        font-size: 16px;  

    }
    h3{
        font-size: 23px;
        width: 350px;
        margin-left: 12px;
    }
    p{
        font-size: 15px;
        width: 350px;
        margin: 0%;
        margin-left: 12px;
    }
    .padre video{
        margin-left: 12px;
        margin-top: 15px;
        width: 350px;
        border-radius: 20px;

    }
 
    





}




/* mejoras */

main{
    margin: 0 auto;
    
}
#nav02{
    list-style: none;
    background: rgb(255,192,0);
    background: radial-gradient(circle, rgba(255,192,0,1) 59%, rgba(255,173,0,1) 82%);
    padding: 3vh;
    
}
#nav02 a:hover{
    color: white;

    
}
header nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
}
.main_mejoras{
   padding-top: 10px;
   text-align: center;
}
.titulo_mejoras{
    font-family: sans-serif;
    font-size: 35px;
    margin-top: 35px;
}
.subtitulo{
    margin-left: 22%;
    width: 1060px;
    font-family: sans-serif;
    font-size: 30px;
}
.texto02{
    margin-top: 110px;
    width: 800px;
    font-family:  sans-serif ;
    text-align: left;
    margin-left: 307px;
}
.h2_mejoras{
    font-size: 25px;
    margin-top: 20px;
}
.parrafos_mejoras{
    font-size: 18px;
    margin-top: 20px;
}
.img_mejoras{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
   
}
main div img{
    border-radius: 20px;
    width: 650px;
    
}
.texto03{
    width: 900px;
    text-align: center;
    margin-left: 28.5%;
    margin-top: 50px;
}
@media(max-width:576px){
    .subtitulo{
        width: 350px;
        margin-left: 12px;
    }
    .texto02{
        width: 350px;
        margin-left: 12px;
    }
    main div img{
        width: 350px;
    }
    .img_mejoras{
        width:350 ;
    }
    .texto03{
        width: 350px;
        margin-left: 0;
    }
    .texto03 h2{
        margin-left: 20px;
    }
    .texto03 video{
        width: 350px;
    }
}

/* Jugadores */

.titulo_jugadores{
    text-align: center;
    margin-top: 40px;
    text-transform: uppercase;
    font-size: 40px;
}
.jugadores{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.jugadores img{
    width: 250px;
    height: 250px;
}
.contenido_jugadores{
    width: 55%;
    margin-left: 50px;
    text-align: start;

}
.contenido_jugadores h2{
    display: inline-block;
    text-align: start;
    text-transform: uppercase;
    font-size: 30px;
    font-family: sans-serif;
}
.contenido_jugadores p{
    display: inline-block;
    text-align: start;
    font-size: 20px;
    font-family: sans-serif;
    
}
main section img{
    border-radius: 20px;
}
@media(max-width:576px){
    #nav02{
        display: none;
    }

   
}