.header{
    display: flex;
    justify-content: nth($justify, $n: 1 );
    align-items: nth($align, $n: 1 );
    justify-content: nth($justify, $n: 2 );
}
.nav{
    list-style: none;
    margin: 30px;
    background-color: nth($color, $n: 2 ) ;
    padding: 10px;
    border-radius: 15px;
}
nav ul{
    display: flex;
    justify-content: nth($justify, $n: 1 );
    align-items: nth($justify, $n: 1 );
}
.nav a{
    text-decoration: none;
    color: nth($color, $n: 7);
    margin-left: 10px;
    padding: 25px;
}
.nav a:hover{
    color: rgb(231, 120, 80);
    background-color: rgb(63, 77, 88);
    padding: 14px 25px;
    border-radius: 15px;
    margin-left: 10px;
}
#nav02{
    list-style: none;
    background: rgb(255,192,0);
    background: radial-gradient(circle, rgba(255,192,0,1) 59%, rgba(255,173,0,1) 82%);
    padding: 3vh;
    
}
#nav02 a:hover{
    color: white;

    
}
header nav ul li a{
    color: black;
    text-decoration: none;
    font-size: nth($tamañoP, $n: 2 );
    font-family:nth($family, $n: 1);
}