$color:  rgb(195, 207, 217),
rgb(75, 92, 107) ,
rgb(231, 120, 80),
rgb(63, 77, 88),
rgb(213, 231, 247),
black ,
white ,
#24303c,
#1f53c5,
rgb(255,192,0) 
radial-gradient(circle, rgba(255,192,0,1) 59%, rgba(255,173,0,1) 82%)
;
$tamañoH1: 43px,
35px;
$tamañoH2:30px,
25px;
$tamañoH3: 22px;
$tamañoP: 18px,
20px;
$family:sans-serif,
'Roboto Slab', serif
'Open Sans' sans-serif;
$margin-top: 40px;